https://www.kaggle.com/code/marcinrutecki/clustering-methods-comprehensive-study/notebook

# Import Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
# from matplotlib import pyplot as plt
%matplotlib inline

from qvd import qvd_reader as qvd

# Import data

In [22]:
file_path = "Y:/Mercanza/ProyectosDVA/CM Proyectos/0. QVD"
raw_df = qvd.read(file_path + "/vfacturas.qvd")
# raw_df.head()

df2 = raw_df[["FechaFactura", "Cod_Cli", "TotalFactura"]].copy()
df2.head()
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41582 entries, 0 to 41581
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   FechaFactura  41582 non-null  object
 1   Cod_Cli       41582 non-null  object
 2   TotalFactura  41579 non-null  object
dtypes: object(3)
memory usage: 974.7+ KB

# Convert data types

In [23]:
type_table = {"FechaFactura": "int32", "Cod_Cli": "string", "TotalFactura": "float32"}

df2 = df2.astype(type_table)
df2["FechaFactura"] = pd.to_datetime(
    df2["FechaFactura"], unit="D", origin="1899-12-30"  # Excel (Qlik) base
)

df2.info()
df2.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41582 entries, 0 to 41581
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   FechaFactura  41582 non-null  datetime64[ns]
 1   Cod_Cli       41582 non-null  string
 2   TotalFactura  41579 non-null  float32
dtypes: datetime64[ns](1), float32(1), string(1)
memory usage: 812.3 KB

  FechaFactura Cod_Cli  TotalFactura
0   2000-01-03   21889       20880.0
1   2000-01-03   22013      222706.0
2   2000-01-03   22052       25881.0
3   2000-01-03   22171      103523.0
4   2000-01-04   22020      156600.0

In [28]:
df2.describe(include="all", datetime_is_numeric=True)

                         FechaFactura Cod_Cli  TotalFactura
count                           41582   41582  4.157900e+04
unique                            NaN    5111           NaN
top                               NaN    0110           NaN
freq                              NaN    3678           NaN
mean    2013-01-27 07:22:03.399547904     NaN  1.416446e+04
min               1992-07-01 00:00:00     NaN -2.375993e+06
25%               2007-10-05 00:00:00     NaN  1.084600e+02
50%               2013-05-01 00:00:00     NaN  4.478000e+02
75%               2019-01-31 00:00:00     NaN  3.630000e+03
max               2022-09-08 00:00:00     NaN  8.053648e+06
std                               NaN     NaN  1.145426e+05

# Aggregate data

In [50]:
df = (
    df2.groupby(["Cod_Cli", df2["FechaFactura"].dt.year])["TotalFactura"]
    .agg(["sum", "count"])
    .reset_index()
)
df = df.rename(
    columns={
        "FechaFactura": "Year",
        "Cod_Cli": "Code",
        "sum": "Sales",
        "count": "Bills",
    }
)
# df.describe(include='all')
# df.info()
# df.head(10)

# save data for future use
df.to_csv('sales_and_bills.csv')